.nav-bar{
    display: flex;
    background-color: rgb(8,15,19)
}
.nav-list{
    display: flex;
}

.nav-list a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.nav-list a:hover{
    background-color: rgb(31, 49, 60)
}

/* .nav-bar p{
    display: block;
     padding-top: 1em;
    margin-left: 3.5em;
    margin-right: 2em;
    font-weight: bold;
    font-size: 1.3em;
    color: rgb(192,125,0);
}  */

.nav-btn{
    font-size: 2em;
    padding-inline: 10px;
    padding-bottom: 2px;
    border: none;
    background-color: rgb(8,15,19);
    color: rgb(255, 255, 255);
    
}